.header__hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(./../../assets/image-hero-desktop@2x.png) no-repeat right top;
  background-size: contain;
}
.header__hero-image {
  display: none;
}
.header__hero-container {
  margin: 85px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  h1 {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 65px;
  }

  p {
    margin-left: 0;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--text-color-light);
    overflow-wrap: break-word;
    max-width: 440px;
    line-height: 28px;
  }

  .header__hero-btn {
    border: none;
    outline: none;
    margin-top: 20px;
    background: var(--btn-gradient);
    padding: 1.1em 2.1em;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.125rem;
    a {
      color: #fff;
    }
  }

  .header__hero-btn:hover {
    background: var(--btn-gradient2);
  }
}
@media screen and (max-width: 1170px) {
  .header__hero-section {
    background: none;
  }
  .header__hero-image {
    display: flex;
    width: 100%;
  }
  .header__hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
