.header__nav {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;

  .logo {
    font-size: 34px;
    font-weight: 900;
  }
  .header-btn {
    outline: none;
    border: none;
    background-color: var(--text-color);
    color: #fff;
    padding: 1.1em 2.1em;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.125rem;
  }

  .header-btn:hover {
    background-color: var(--text-color-light-hover);
  }
}
